In [3]:
v = float(input("Digite o valor da tensão:"))
i = float(input("Digite o valor da corrente:"))
p = v * i 

print("O valor da potência é:", p)

O valor da potência é: 20.0

In [4]:
def calcula_potencia(tensao, corrente):
    potencia = tensao * corrente
    return potencia

tensao = 127
corrente = 1

resultado = calcula_potencia(tensao, corrente)

print(f"o valor da potencia é: {resultado}")

o valor da potencia é: 127

In [5]:

pip install pandas

Requirement already satisfied: pandas in c:\users\laris\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.1.3)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\laris\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\laris\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\laris\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\laris\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\laris\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd

In [7]:

# Dados 

dados = {
    'Tipo de carro':['Sedan', 'SUV', 'Hatchback', 'Caminhonete', 'Coupé'],
    'Tipo de direção':['Hidráulica', 'Elétrica', 'Mecânica', 'Eletrica', 'Hidráulica'],
    'Tipo de pneus':['Radial', 'Diagonal', 'Radial', 'Diagonal', 'Radial'],
    'Faixa de preço':['Alto', 'Médio', 'Baixo', 'Alto', 'Médio'],
    'Potência - CV':[120, 130, 100, 180, 200],
    'Velocidade de Cruzeiro':[True, False, True, True, False]
}

df_carros= pd.DataFrame(dados)

In [8]:

df_carros

,Tipo de carro,Tipo de direção,Tipo de pneus,Faixa de preço,Potência - CV,Velocidade de Cruzeiro
0,Sedan,Hidráulica,Radial,Alto,120,True
1,SUV,Elétrica,Diagonal,Médio,130,False
2,Hatchback,Mecânica,Radial,Baixo,100,True
3,Caminhonete,Eletrica,Diagonal,Alto,180,True
4,Coupé,Hidráulica,Radial,Médio,200,False

In [9]:

df_carros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Tipo de carro           5 non-null      object
 1   Tipo de direção         5 non-null      object
 2   Tipo de pneus           5 non-null      object
 3   Faixa de preço          5 non-null      object
 4   Potência - CV           5 non-null      int64
 5   Velocidade de Cruzeiro  5 non-null      bool
dtypes: bool(1), int64(1), object(4)
memory usage: 337.0+ bytes

In [10]:

df_carros.head(2)

,Tipo de carro,Tipo de direção,Tipo de pneus,Faixa de preço,Potência - CV,Velocidade de Cruzeiro
0,Sedan,Hidráulica,Radial,Alto,120,True
1,SUV,Elétrica,Diagonal,Médio,130,False

In [11]:
df_carros['Tipo de carro']

0          Sedan
1            SUV
2      Hatchback
3    Caminhonete
4          Coupé
Name: Tipo de carro, dtype: object

In [12]:

print('O valor minimo é:', df_carros['Potência - CV'].min())
print('O valor máximo é:', df_carros['Potência - CV'].max())
print('O valor média é:', df_carros['Potência - CV'].mean())
print('O valor mediana é:', df_carros['Potência - CV'].median())

O valor minimo é: 100
O valor máximo é: 200
O valor média é: 146.0
O valor mediana é: 130.0

In [13]:
# Filtragem por valor

def filtra_por_valor(df_carros, coluna, valor):
    return df_carros[df_carros[coluna] == valor]

filtra_por_valor(df_carros, 'Tipo de carro', 'Sedan')

,Tipo de carro,Tipo de direção,Tipo de pneus,Faixa de preço,Potência - CV,Velocidade de Cruzeiro
0,Sedan,Hidráulica,Radial,Alto,120,True

In [14]:

carro_desejado = ['Sedan', 'SUV']

for carro in carro_desejado:
    dados = df_carros.loc[df_carros['Tipo de carro'] == carro]
    print(f'Dados para {carro}:\n{dados}\n')

Dados para Sedan:
  Tipo de carro Tipo de direção Tipo de pneus Faixa de preço  Potência - CV  \
0         Sedan      Hidráulica        Radial           Alto            120

   Velocidade de Cruzeiro
0                    True

Dados para SUV:
  Tipo de carro Tipo de direção Tipo de pneus Faixa de preço  Potência - CV  \
1           SUV        Elétrica      Diagonal          Médio            130

   Velocidade de Cruzeiro
1                   False